# Core ML Libraries
pandas==1.3.5       # Required for data loading and manipulation
scikit-learn==1.0.2 # Required for preprocessing and pipeline creation

# AWS SDK
boto3==1.24.0       # AWS SDK for model interaction with S3 and SageMaker
sagemaker==2.149.0  # AWS SageMaker SDK for pipeline execution

# Utility Libraries (Optional for Logging)
colorlog==6.6.0     # For colored logging output (optional)